<main id="login-page">
    <img src="image/briss.svg" id="briss-logo" alt="北京市体育科学研究所">
    <img src="image/ezsport.svg" id="ezsport-logo" alt="EZ Sport Ltd.">
    <form action="#" method="post" onsubmit="return false;" data-ng-submit="login()">
        <div class="input-item">
            <input type="text" placeholder="姓名" required="required" data-ng-model="form.name">
        </div>
        <div class="input-item">
            <input type="password" placeholder="密码" required="required" data-ng-model="form.password">
        </div>
        <button class="button button-block login-button" type="submit">
            登录
        </button>
    </form>
</main>