<ion-view class="subpage">
    <div class="bar bar-header register-header">
        <h1 class="title">修改密码</h1>
    </div>
    <ion-content class="has-header gray-bg" padding="true">
        <form action="#" method="post" onsubmit="return false;" autocomplete="off" data-ng-submit="save()">
            <div class="page-note">新密码请至少输入6位以上字符</div>
            <div class="hidden-password">
                <input type="password">
            </div>
            <div class="list register-form">
                <label class="item item-input">
                    <span class="input-label">旧密码</span>
                    <input type="password" required="required" data-ng-model="form.old_password">
                </label>
                <label class="item item-input">
                    <span class="input-label">新密码</span>
                    <input type="password" required="required" minlength="6" data-ng-model="form.new_password">
                </label>
                <label class="item item-input">
                    <span class="input-label">确认新密码</span>
                    <input type="password" required="required" minlength="6" data-ng-model="form.cfm_password">
                </label>

            </div>
            <div class="center-text">
                <button class="button button-clear button-positive" type="submit">更新密码</button>
            </div>
        </form>
    </ion-content>
</ion-view>