<ion-view>
    <ion-nav-title>
        选择日期
    </ion-nav-title>

    <ion-content class="gray-bg">
        <div class="center-text prompt" data-ng-if="calendar.length === 0">暂无训练数据</div>

        <div class="calendar-entry" data-ng-repeat="c in calendar">
            <div class="month" data-on-tap="loadDate(c)">
                <span data-ng-if="needShowYear($index)">{{c.month.substring(0, 4)}}</span>
                <div><em>{{c.month| month}}</em>月</div>
                <ion-spinner icon="ios-small" class="date-loading" data-ng-if="c.loading"></ion-spinner>
            </div>
            <a class="date" data-ng-repeat="date in c.date" data-ng-hide="c.hideDate" data-ui-sref="^.history.data({date: c.month + '-' + date})">
                <div><em>{{date}}</em>日</div>
            </a>
        </div>

        <div class="clear"></div>
    </ion-content>

</ion-view>