
<ion-view>
    <ion-nav-title>
        今日训练
    </ion-nav-title>
    <ion-content class="gray-bg" padding="true">
        <div class="center-text prompt" data-ng-if="!trainings">正在加载数据……</div>
        <div class="trainee-data">
            <h2 data-ng-repeat-start="row in trainings">{{row.training_time.substring(0, 5)}}</h2>
            <div data-ng-repeat-end class="row training-data-row" data-ng-class="{'more' : row.details}">
                <div class="training-data flex">
                    <h3>{{row.movement_name}}</h3>
                    <div data-ez-data="row"></div>
                </div>
                <button class="training-data-button" data-ng-click="toggleDetails(row)">
                    <i class="ion-icon" data-ng-class="{'ion-chevron-down' : !row.details, 'ion-chevron-up' : row.details}"></i>
                </button>
            </div>
            <h2 data-ng-if="trainings.length > 0">&nbsp;</h2>
            <div class="training-data-dump" data-ng-if="trainings.length > 0">
                <div>&nbsp;</div>
            </div>
        </div>

        <div class="center-text prompt" data-ng-if="trainings.length === 0">本日无训练数据</div>
        <button class="button button-clear button-positive button-block" data-ng-if="trainings.length === 0 && !entered" data-ui-sref="trainee.evaluation">开始训练</button>
        <button class="button button-clear button-positive button-block" data-ng-if="trainings.length > 0 && entered && status === '1' " data-ui-sref="trainee.end_train">结束训练</button>
        <div class="center-text" data-ng-if="entered && status === '2' ">本日训练已结束</div>
        <button class="button button-clear button-stable button-block" data-ui-sref="trainee.calendar">历史数据</button>

    </ion-content>
</ion-view>