<ion-view>
    <ion-nav-title>
        修改密码
    </ion-nav-title>

    <ion-content class="gray-bg">
        <form action="#" method="post" onsubmit="return false;" data-ng-submit="save()">
            <div class="list register-form">
                <div class="item item-divider"></div>
                <label class="item item-input">
                    <span class="input-label">现用密码</span>
                    <input type="password" required="required" data-ng-model="form.old_password">
                </label>
                <label class="item item-input">
                    <span class="input-label">新密码</span>
                    <input type="password" required="required" minlength="6" data-ng-model="form.new_password" placeholder="最少6位">
                </label>
                <label class="item item-input">
                    <span class="input-label">确认输入新密码</span>
                    <input type="password" required="required" minlength="6" data-ng-model="form.cfm_password" placeholder="最少6位">
                </label>
            </div>
            <button class="button button-clear button-positive button-block" type="submit" data-ng-disabled="saving">更新密码</button>
        </form>
    </ion-content>

</ion-view>